<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tc.application"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="21" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>
    <!-- 允许应用读取低级别的系统日志文件 -->
    <uses-permission android:name="android.permission.READ_LOGS"></uses-permission>

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.tc.app.TcApp"
        android:allowBackup="true"
        android:icon="@drawable/login_logo"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/XTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="9fCQN0IyWGhX1Zn6oW0OHEFEaXIU6kiu" />

        <activity
            android:name="com.tc.activity.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 主界面 -->
        <activity
            android:name="com.tc.activity.MainTabActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.tc.activity.item.PeopleQueryActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.tc.activity.item.CarCheckActivity"
            android:screenOrientation="portrait"></activity>
        <!-- baidumap -->
        <activity
            android:name="com.tc.activity.item.MarkerMapActivity"
            android:screenOrientation="portrait"></activity>

        <!-- 录像界面 -->
        <activity
            android:name="com.tc.activity.item.RecorderVideoActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 笔录记录 -->
        <activity
            android:name="com.tc.activity.item.SenceNoteActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 手动核查 -->
        <activity
            android:name="com.tc.activity.item.HandQueryActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 人像比对 -->
        <activity
            android:name="com.tc.activity.item.FaceCheckNActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.tc.activity.SenceExcute"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.tc.activity.item.LsJqInfoActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 历史jpg查看界面 -->
        <activity
            android:name="com.tc.view.LsJpgActivity"
            android:screenOrientation="portrait"
            android:theme="@style/dialogstyle"></activity>
        <!-- 历史txt查看界面 -->
        <activity
            android:name="com.tc.view.LsTxtAcitvity"
            android:screenOrientation="portrait"
            android:theme="@style/dialogstyle"></activity>

        <!-- 历史amr查看界面 -->
        <activity
            android:name="com.tc.view.LsAmrActivity"
            android:screenOrientation="portrait"
            android:theme="@style/dialogstyle"></activity>
        <!-- 历史mp4查看界面 -->
        <activity
            android:name="com.tc.view.LsMp4Activity"
            android:screenOrientation="portrait"
            android:theme="@style/dialogstyle"></activity>
        <!-- 企业查询 -->
        <activity
            android:name="com.tc.activity.item.QyQueryActivity"
            android:screenOrientation="portrait" />
        <!-- 物品查询 -->
        <activity
            android:name="com.tc.activity.item.GoodsQueryActivity"
            android:screenOrientation="portrait" />
        <!-- 一维码 -->
        <activity
            android:name="com.example.qr_codescan.MipcaActivityCapture"
            android:screenOrientation="portrait"></activity>
        <!-- 勘查笔录列表 -->
        <activity
            android:name="com.tc.activity.caseinfo.XczfListActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 现场勘查 -->
        <activity
            android:name="com.tc.activity.caseinfo.XckcBlActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 勘查笔录 辨认笔录 -->
        <activity
            android:name="com.tc.activity.caseinfo.XckcXsBrBlActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 提取痕迹 -->
        <activity
            android:name="com.tc.activity.caseinfo.TqhjActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 刑事案件 -->
        <activity
            android:name="com.tc.activity.SenceCheck"
            android:screenOrientation="portrait"></activity>
        <!-- 画图 -->
        <activity
            android:name="com.tc.activity.caseinfo.XsajHuaTuActivity"
            android:screenOrientation="portrait"></activity>
        <!-- 现场照片 -->
        <activity
            android:name="com.tc.activity.caseinfo.XsajXczpActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.tc.activity.caseinfo.XsajFxbgActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.tc.activity.caseinfo.XsajJszjclActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.tc.activity.caseinfo.XsajDjbcqdActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name="com.tc.activity.testActivity"></activity>
    </application>

</manifest>